@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: grid;
  grid-template-columns: 50% 50%;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Merriweather", serif;
  padding: 14px;
  background: rgb(246, 246, 246);
}
h1 {
  font-size: 3rem;
  margin-bottom: 12px;
}

.carousel {
  height: 100vh;
  width: 50vw;
  position: relative;
}

.carousel button {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  font-size: 2.6rem;
  z-index: 2;
  cursor: pointer;
  color: rgb(231, 228, 228);
  transform: translateY(-50%);
  top: 50%;
}
#prev{
  left: 5px;
}
#next{
  right: 5px;
}
.carousel li{
  list-style: none;
}
.slide{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.slide.active{
  opacity: 1;
}
.slide img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
